<div id="header">
    <div class="header-content">
        <div class="countdown" id="countdown">
            <div class="container">
                <div class="row">
                    <div class="countdown-item col-sm-3 col-xs-3">
                        <div class="countdown-number" id="countdown-days">B</div>
                        <div class="countdown-label">Blockchain</div>
                    </div>

                    <div class="countdown-item col-sm-3 col-xs-3">
                        <div class="countdown-number" id="countdown-hours">E</div>
                        <div class="countdown-label">Express</div>
                    </div>

                    <div class="countdown-item col-sm-3 col-xs-3">
                        <div class="countdown-number" id="countdown-minutes">A</div>
                        <div class="countdown-label">Angular</div>
                    </div>

                    <div class="countdown-item col-sm-3 col-xs-3">
                        <div class="countdown-number" id="countdown-seconds">N</div>
                        <div class="countdown-label">Node</div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p class="text-center">BEAN DApp github project. Seeded by
                <a href="https://www.linkedin.com/in/john-marquez-439041a5/" target="_blank" style="color: black;">Scooterhelmet</a>.
                <br>
            </p>
        </footer>
    </div>
</div>